[Desktop Entry]
Type=Application
Version=1.2.0
Name=Oscars
Comment=The 97th Academy Awards Movies Browser
Exec=oscars
Icon=oscars
Terminal=false
Categories=Entertainment;
